<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h1 style="text-align:center ; font-size:50px ;">Here is your login form</h1><br></br>
    <form style="text-align:center ;" action="login" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username"></input><br></br>
        <input type="password" name="password" placeholder="password"></input><br></br>
        <button type="submit">Submit</button>
    </form>

    <div>
    {% for message in messages %}
    <h2>{{message}}</h2>
    {% endfor %}
    </div>
</body>
</html>
